@import url(reset.css);
@import url(utilities.css);
@import url(header.css);
@import url(banner_bg.css);
@import url(footer.css);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
  background-color: #fff;
  font-size: 21px;
  height: auto;
}
.out {
  display: flex;
  height: auto;
  background-color: #dcdcdc;
  box-sizing: border-box;
}
.side-menu {
  width: 25%;
  height: auto;
  padding: 50px 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  /* 	box-shadow: 5px 0px 10px hsla(240, 40%, 15%,.5); */
}
.side-menu .logo {
  margin-bottom: 20px;
}
.side-menu form {
  width: 90%;
  display: flex;
  margin: 0 10px 50px;
  border-radius: 5px;
  /* border: 1px solid rgb(255, 255, 255, 0.4); */
  position: relative;
  font-size: 18px;
}
.side-menu form input {
  background-color: #dcdcdc;
  /* color: #5b5353; */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.side-menu form input {
  width: 100%;
  height: 45px;
  font-size: 18px;
}
.side-menu form a {
  display: block;
}

.side-menu i {
  position: absolute;
  top: 12px;
  right: 10px;
}
nav a {
  display: block;
  padding: 10px;
  color: #5b5353;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  /* outline: 1px solid red; */
  border-bottom: 1px solid black;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* --------------------作品集---------------------- */
.portfolio_main {
  padding-left: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 10px;
}
.grid1 {
  margin-top: 10px;
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  box-sizing: border-box;
}

.grid1_1 {
  grid-column: 1/3;
  grid-row: 1/3;
  box-sizing: border-box;
}

.grid1_2 {
  grid-column: 3/4;
  grid-row: 1/2;
  box-sizing: border-box;
}
.grid1_3 {
  grid-column: 3/4;
  grid-row: 2/3;
  box-sizing: border-box;
}

.grid_item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
}

.grid2 {
  margin-top: 10px;
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid2_1 {
  grid-column: 2/4;
  grid-row: 1/3;
}
.grid2_2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid2_3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid3 {
  margin-top: 10px;
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.grid3_1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.grid3_2 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.grid3_3 {
  grid-column: 3/4;
  grid-row: 2/3;
}

/*---------------- 燈箱 --------------------*/
#lightbox {
  /*   border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.8);
}
.none {
  display: none;
}

/* 元素 article 置中及基本樣式 */
#lightbox > article {
  background-color: #fff;
  width: 90%;
  max-width: 1000px;
  border-radius: 1px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_title {
  font-size: 36px;
  /* outline: 1px solid tomato; */
  padding-top: 20px;
  padding-left: 20px;
}
.modal_content {
  display: flex;
  margin-top: 30px;
}
.btn_modal_close {
  width: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal_text {
  box-sizing: border-box;
  padding: 20px;
  width: 30%;
  font-size: 16px;
}
.modal_text p {
  padding-top: 15px;
  font-weight: 500;
}
.modal_text i {
  margin-right: 5px;
}
.modal_text span {
  padding-top: 5px;
  font-weight: 200;
}
.modal_img {
  width: 70%;
}
.modal_img img {
  display: block;
  object-fit: cover;
  width: 100%;
}
