@import url(reset.css);
@import url(utilities.css);
@import url(header.css);
@import url(banner_bg.css);
@import url(footer.css);

.banner {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/full-bloom.png);
  height: 300px;
  background-repeat: repeat;
}
.mask {
  background-color: black;
  opacity: 0.3;
  height: 300px;
  width: 30%;
  position: relative;
}

.product_main {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  height: 500px;

  justify-content: space-between;
}

.product_img {
  width: 48%;
  background-image: url(../img/product_img.jpg);
  background-size: cover;

  background-position: center bottom;
  box-sizing: border-box;
}

.product_text {
  width: 48%;
  border: 1px solid black;
  padding: 32px;
  box-sizing: border-box;
}
.product_title {
  font-size: 36px;
  font-family: Roboto Condensed;
}
.product_price {
  font-size: 36px;
  font-family: Roboto Condensed;
}
.product_details {
  font-size: 21px;
  font-family: Roboto Condensed;
}
.product_qty {
  margin-top: 24px;
  display: flex;
}
.product_qty li {
  border: 1px solid black;
  padding: 12px;
  font-size: 24px;
  margin-right: -1px;
}
.add_to_cart_btn {
  margin-top: 24px;
  display: block;
  width: 180px;
  line-height: 50px;
  background-color: #d9d9d9;
  text-align: center;
}

.other_product {
  background-image: url(../img/other_product_bg.jpg);
  height: 600px;
  padding: 48px;
  padding-bottom: 64px;
}
.other_title {
  font-size: 36px;
  font-family: Roboto Condensed;
}
.other_prodcut_list {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.other_prodcut_list li {
  width: 380px;
  outline: 1px solid black;
  box-sizing: border-box;
}

.other_prodcut_list img {
  display: block;
  width: 100%;
}

.other_product_des {
  padding: 20px;
}
.other_product_name {
  font-size: 32px;
}
.other_product_price {
  font-size: 24px;
}
